:root {
	--color-background: #555;
	--color-header-background: #fff;
	--color-text: #fff;
	--color-h2: #ff5;
	--color-h1: #fff;
	--color-block-background: #00a;
	--shadow: var(--unit) var(--unit) 0 #000;
	--color-accent: #00a;
	--color-accent-text: #fff;
	--color-screenshot-button: rgba(255, 255, 255, 0.1);
	--color-code: #fff;
	--color-code-number: #5ff;
	--color-code-comment: #aaa;
	--color-code-instruction: #ff5;
	--color-code-ln: #5aa;
	--color-example-link-background: #fff;
	--color-example-link-text: #00a;
}