:root {
	--color-background: #0aa;
	--color-header-background: #fff;
	--color-text: #fff;
	--color-h2: #ff5;
	--color-h1: #fff;
	--color-block-background: #00a;
	--color-block-shadow: #005555;
	--color-accent: #a0a;
	--color-accent-text: #fff;
	--color-screenshot-button: rgba(255, 255, 255, 0.1);
	--color-code: #fff;
	--color-code-number: #5ff;
	--color-code-comment: #fff;
	--color-code-instruction: #ff5;
	--color-code-ln: #aaa;
}