.code-block {
    background: var(--color-block-background);
    padding: 18px;
    box-shadow: 9px 9px 0 var(--color-block-shadow);

    pre {
        color: var(--color-code);
        white-space: pre;
        width: 100%;
        line-height: 18px;
        display: block;
        font-family: "Departure Mono", monospace;
        font-size: 16.5px;
        padding: 0;
        margin: 0;

        .number {
            color: var(--color-code-number);
        }

        .comment {
            color: var(--color-code-comment);
        }

        .instruction {
            color: var(--color-code-instruction);
        }

        .ln {
            color: var(--color-code-ln);
        }
    }
}