.resize {
	width: 80%;
	max-width: 1000px;
	margin: 0 auto;
}

.grid-2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: calc(var(--unit) * 2);
}

.grid-3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: calc(var(--unit) * 2);
}

.span-2 {
	grid-column: span 2;
}

.span-3 {
	grid-column: span 3;
}

@media(max-width:1200px) {
	.resize {
		width: 90%;
	}
}

@media(max-width:900px) {
	.resize {
		width: 100%;
		padding: 0 var(--unit);
	}

	.grid-2,
	.grid-3 {
		gap: var(--unit);
	}
}

@media(max-width:700px) {
	.grid-2 {
		grid-template-columns: 1fr;
	}

	.grid-3 {
		grid-template-columns: 1fr 1fr;
	}

	.span-2 {
		grid-column: span 1;
	}

	.span-3 {
		grid-column: span 2;
	}
}


@media(max-width:360px) {
	.grid-3 {
		grid-template-columns: 1fr;
	}

	.span-3 {
		grid-column: span 1;
	}
}
