@use "module";

body,
html,
code {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Liberation Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

body,
html {
	margin: 0;
	padding: 0;
	background: #000000;
	color: #fff;
}

.container {
	width: 60%;
	background: #000000;
	margin: 0 auto;
	font-size: 18px;
	margin-top: 176px;
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	max-width: 900px;

	div {
		padding: 22px;
	}
}

.container>*:nth-child(4n + 3),
.container>*:nth-child(4n + 4) {
	background-color: #111111;
}

pre {
	padding: 0;
	margin: 0;
	font-size: 18px;

	.comment {
		color: #999999;
	}

	.instruction {
		color: #9999cc;
	}
}

@media(max-width:1500px) {
	.container {
		width: 65%;
	}
}

@media(max-width:1024px) {
	.container {
		width: 80%;
	}
}

@media(max-width:700px) {
	.container {
		width: 100%;
	}
}

:root {
	font-synthesis: none;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

p {
	padding: 0 0 10px 0;
	margin: 0;
}

#glcanvas {
	background: #000000;
	position: fixed;
	top: 0;
	left: 0;
	image-rendering: pixelated;
}