@use "module";
@use "utils";
@use "colors";

body,
html {
	font-family: "Departure Mono", "Adjusted Courier New Fallback", monospace;
	margin: 0;
	padding: 0;
	background: var(--color-header-background);
	color: var(--color-text);
}

body {
	padding: 0 0 calc(var(--unit) * 4) 0;
}

.background {
	width: 100%;
	height: 100%;
	background: var(--color-background);
}

.container {
	font-size: 16.5px;
	line-height: calc(var(--unit) * 2);
	padding: calc(var(--unit) * 4) 0;
	position: relative;
}

.introduction {
	display: flex;
	flex-direction: column;
	gap: calc(var(--unit) * 2);

	a {
		color: var(--color-text);
	}

	.row {
		display: flex;
		gap: calc(var(--unit) * 4);

		> * {
			flex: 1;
		}

		.dots {
			flex: 1.5;
		}
	}

	.title {
		padding: calc(var(--unit) * 2) 0 0 0;
		text-align: center;
	}

	.dots {
		display: flex;
		flex-direction: column;

		p {
			padding: var(--unit) 0;
		}

		p:first-child {
			padding-top: calc(var(--unit) * 2);
		}

		p:last-child {
			padding-bottom: calc(var(--unit) * 2);
		}
	}

	.row--reverse {
		flex-direction: row-reverse;
	}

	@media (max-width: 700px) {
		.row, .row--reverse {
			flex-direction: column!important;
		}
	}
}

:root {
	--unit: 11px;
	font-synthesis: none;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

p {
	padding: 0 0 var(--unit) 0;
	margin: 0;
}

h1 {
	margin: 0;
	padding: calc(var(--unit) * 2) 0 calc(var(--unit) * 4) 0;
	font-size: 88px;
	line-height: calc(var(--unit) * 8);
	color: var(--color-h1);
}

h2 {
	margin: 0;
	padding: 0;
	font-size: 22px;
	line-height: calc(var(--unit) * 3);
	color: var(--color-h2);
}

.examples {
	padding-top: calc(var(--unit) * 8);

	img {
		width: 100%;
		height: auto;
		display: block;
	}

	a {
		background: var(--color-example-link-background);
		text-decoration: none;
		color: var(--color-example-link-text);
		box-shadow: var(--shadow);
	}

	.description {
		padding: calc(var(--unit) * 2);
	}
}

#background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.navbar {
	width: 100%;
	background: var(--color-header-background);

	nav {
		display: flex;
		flex-direction: row;

		a {
			padding: calc(var(--unit) * 2);
			display: block;
			text-decoration: none;
			color: var(--color-accent);
		}

		a.editor {
			background: var(--color-accent);
			color: var(--color-accent-text);
		}
	}
}

.screenshot {
	will-change: background-position;
	background: url(https://static.llllllllllll.com/8f4e/screenshots/1.png);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: calc(var(--unit) * 4) 0;
	box-shadow: var(--shadow);

	a {
		padding: calc(var(--unit) * 3) calc(var(--unit) * 4);
		color: var(--color-accent-text);
		background: var(--color-screenshot-button);
		backdrop-filter: blur(10px);
		text-decoration: none;
	}
}