<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title}}</title>
    <meta charSet="utf-8" />
    <link rel="alternate" type="application/rss+xml" href="{{rss_feed_url}}" title="RSS 2.0" />
    <meta name="description"
        content="Andor Polgar's (mostly) visual journal: here, you'll find my photography projects and random snapshots from my life." />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=5, minimum-scale=1, user-scalable=yes" />
    <style>
        @font-face {
            font-family: "Departure Mono";
            src: url('https://static.llllllllllll.com/andor/fonts/DepartureMono-Regular.woff2') format('woff2'),
                url('https://static.llllllllllll.com/andor/fonts/DepartureMono-Regular.woff') format('woff'),
                url('https://static.llllllllllll.com/andor/fonts/DepartureMono-Regular.otf') format('opentype');
            font-weight: normal;
            font-style: normal;
            font-display: block;
        }
    </style>
    <link rel="preload" href="/assets/{{style.scss}}" as="style" />
    <link rel="preload" href="/assets/{{script.ts}}" as="script" />
    <link rel="stylesheet" href="/assets/{{style.scss}}" />
    <link rel="canonical" href="{{site_url}}/{{pathname}}" />
    <link rel="icon" href="/assets/{{favicon.ico}}" />
    {% if page_specific_css %}
    <link rel="stylesheet" href="/assets/{{page_specific_css}}">
    {% endif %}
</head>

<body>
    <div class="scanlines"></div>
    <img src="https://static.llllllllllll.com/andor/assets/dvd_logo.gif" alt="DVD logo" id="dvd-logo" />
    <nav class="desktop">
        {% for item in data.desktop %}
        <a href="{{item.href}}" class="icon" {% if item.target %}target="{{item.target}}" {% endif %}>
            <div class="icon-picture">{{item.icon}}</div>
            <div class="icon-label">{{item.label}}</div>
        </a>
        {% endfor %}
    </nav><!-- .desktop -->

    <div class="clippy window">
        {% include dialogheader.liquid title:"Clippy" %}
        <div class="hole content-hole">
            <img width="248" height="184" id="clippy-gif"
                src="https://static.llllllllllll.com/andor/assets/clippy/startup.gif"
                style="background-image: url('https://static.llllllllllll.com/andor/assets/clippy/clippy_bg.gif')"
                alt="Clippy" />
        </div>
    </div>

    <div class="container">
        <main class="window">
            {% include windowheader.liquid title:"Andornet Explorer" %}
            <div class="hole content-hole">
                <div class="head">
                    <div class="button" id="button-back" data-nosnippet>
                        <div class="icon">⬅️</div>
                        <div class="label">Back</div>
                    </div>
                    <div class="button" id="button-forward" data-nosnippet>
                        <div class="icon">➡️</div>
                        <div class="label">Forward</div>
                    </div>
                    <div class="button" id="button-reload" data-nosnippet>
                        <div class="icon">🔄</div>
                        <div class="label">Reload</div>
                    </div>
                    <a href="/" class="button" data-nosnippet>
                        <div class="icon">🏠</div>
                        <div class="label">Home</div>
                    </a>
                    <div class="netscape-logo" data-nosnippet>A</div>
                </div>
                <div class="content">
                    {{body}}
                </div>
            </div>
            <div class="corner">
            </div>
            <div class="corner-inner">
            </div>
            <div class="bars">
                <div class="bar">
                </div>
                <div class="bar">
                </div>
                <div class="bar">
                </div>
            </div>
        </main>
    </div><!-- .container -->
    <script src="/assets/{{script.ts}}"></script>
    <script src="/assets/{{dvd.ts}}"></script>
    <script src="/assets/{{clippy.ts}}"></script>
</body>

</html>