.ticket {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    background-color: #ffcccc;
    color: #000000;
    margin-bottom: 10px;
    font-size: 16.5px;
            border-left: 10px dotted #FFFFFF;
                    border-right: 10px dotted #FFFFFF;

    .body {
        padding: 20px;

        .cinema {
            font-size: 22px;
            display: block;
            text-align: center;
        }

        .info {
            display: flex;
            flex-direction: row;
            gap: 20px;

            .label {
                font-size: 11px;
                display: block;
            }
        }
    }
}

.content img {
    width: 100%;
}