.bookmarks {
    ul {
        list-style: none;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    li {
        padding-bottom: 10px;
    }

    a {
        color: blue;
        text-decoration: underline;
    }

    span {
        color: #333333;
        display: block;
    }

    .favicon {
        width: 32px;
        height: 32px;
        margin: 0 5px 0 0;
        vertical-align: middle;
        float: left;
    }
    
    .title {
        padding-bottom: 10px;
    }
}

@media (max-width: 800px) {
    .bookmarks ul {
        grid-template-columns: repeat(1, 1fr);
    }
}