.bookmarks {
    font-family: "Departure Mono", sans-serif;
    font-size: 16.5px;

    ul {
        list-style: none;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    li {
        padding-bottom: 10px;
    }

    a {
        color: blue;
        text-decoration: underline;
    }

    span {
        color: #333333;
        display: block;
    }

    .favicon {
        width: 32px;
        height: 32px;
        margin: 5px 5px 0 0;
        vertical-align: middle;
        float: left;
        image-rendering: pixelated;
    }
}

@media (max-width: 700px) {
    .bookmarks ul {
        grid-template-columns: repeat(1, 1fr);
    }
}