.google {
    font-family: "Departure Mono", sans-serif;
    font-size: 16.5px;
    padding: 10px;
}

.google .logo {
    font-family: "Departure Mono", serif;
    font-size: 44px;
}

.google .logo .b {
    color: #4285F4;
}

.google .logo .r {
    color: #DB4437;
}

.google .logo .y {
    color: #F4B400;
}

.google .logo .g {
    color: #0F9D58;
}

.google ul {
    list-style: none;
    padding: 0;
}

.google li {
    padding: 0 0 10px 0;
}

.google strong {
    background: none;
    color: inherit;
}

.google a {
    color: #0000ff;
    text-decoration: underline;
    display: block;
}

.google .description {
    display: block;
}

.google .url {
    color: #009900;
    display: block;
}