.youtube {
    font-family: "Departure Mono", sans-serif;
    font-size: 16.5px;

    ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        font-family: "Departure Mono", sans-serif;
        list-style: none;
        font-size: 16.5px;
    }

    li {
        a {
            text-decoration: underline;
            display: block;
        }

        span.title {
            color: blue;
        }

        span {
            display: block;
            color: #666666;
        }

        img {
            width: 100%;
            display: block;
            aspect-ratio: 16 / 9;
            object-fit: cover;
            padding-bottom: 5px;
        }
    }
}

@media (max-width: 600px) {
    .youtube ul {
        grid-template-columns: repeat(2, 1fr);
    }
}