<p>Hi! I'm Andor Polgár, welcome to my corner of the internet. It's part scrapbook, part sandbox full of artsy experiments, random snapshots, and whatever else I felt like uploading.</p>
<p>This website simulates a web browser and an operating system that never actually existed, but borrows heavily from the aesthetics of Mac OS 9 and Windows 98.</p>
<p>I grew up at the same time as the internet, which is probably why I've been nostalgic for old websites and user interfaces ever since.</p>