---
layout: google
title: 'Links'
date: 2022-10-28 19:00:00 -0100
location: 'Zandvoort, Netherlands'
---

<ul>
    <li>
        <a href="https://linkedin.com/in/andorstaffed" target="_blank"><strong>Andor Polgár</strong> - Principal Software Engineer</a>
        <span class="description">You can hire me to assess your organization's technology stack, establish CI/CD
            pipelines, provide mentorship to your software developers, or to manage crisis situations in problematic
            projects.</span>
        <span class="url">http://linkedin.com/in/andorstaffed</span>
    </li>
    <li>
        <a href="https://github.com/andorthehood" target="_blank"><strong>Andor Polgár</strong> andorthehood</a>
        <span class="description">I'm a software engineer with a passion for building scalable and efficient systems. I'm also a big fan of open source software and I'm always looking for new projects to work on.</span>
        <span class="url">http://github.com/andorthehood</span>
    </li>
    <li>
        <a href="https://goodreads.com/andorliningeverything" target="_blank"><strong>Andor Polgár</strong> (269 books)</a>
        <span class="description">I don’t read political books to confirm my views, I read them to challenge them. So try not to read too much into my reading list.</span>
        <span class="url">http://goodreads.com/andorliningeverything</span>
    </li>
    <li>
        <a href="https://instagram.com/andortheinfluence" target="_blank"><strong>Andor Polgár</strong> (@andortheinfluence) · Instagram</a>
        <span class="description">here's what I saw</span>
        <span class="url">http://instagram.com/andortheinfluence</span>
    </li>
    <li>
        <a href="https://www.youtube.com/c/Polg%C3%A1rAndor" target="_blank"><strong>Andor Polgar</strong></a>
        <span class="url">http://youtube.com/c/Polg%C3%A1rAndor</span>
    </li>
    <li>
        <a href="https://www.imdb.com/name/nm11601357/" target="_blank"><strong>Andor Polgár</strong></a>
        <span><strong>Andor Polgár</strong> is known for Stamps Back (2022). IMDbProStarmeterSee rank · Add photos, demo reels. Add to list. View contact info at IMDbPro · More at ...</span>
        <span class="url">http://imdb.com/name/nm11601357</span>
    </li>
    <li>
        <a href="https://www.flickr.com/photos/hngrhorace/" target="_blank"><strong>Andor Polgár</strong></a>
        <span class="description">Explore <strong>Andor Polgár</strong>'s 255 photos on Flickr!</span>
        <span class="url">http://flickr.com/photos/hngrhorace</span>
    </li>
    <li>
        <a href="https://filmfreeway.com/AndorPolgar" target="_blank"><strong>Andor Polgár</strong></a>
        <span class="description">Filmography. Director (1 Credit). A Flor de Piel2022. Experimental, Short. Personal Details. Current City. Amsterdam. Contact. Website. Share: Links.</span>
        <span class="url">http://filmfreeway.com/AndorPolgar</span>
    </li>
    <li>
        <a href="https://www.last.fm/user/hngrhorace" target="_blank">hngrhorace's Music Profile</a>
        <span class="description">Listen to music from hngrhorace's library (153,918 tracks played). Get your own music profile at Last.fm the world's largest social music platform.</span>
        <span class="url">http://last.fm/user/hngrhorace</span>
    </li>
    <li>
        <a href="https://x.com/andordog" target="_blank"><strong>Andor Polgár</strong> (@andordog) / X</a>
        <span class="url">http://x.com/andormade</span>
    </li>
</ul>