---
layout: google
title: 'Links'
date: 2022-10-28 19:00:00 -0100
location: 'Zandvoort, Netherlands'
css: 'google.css'
---

<ul>
    <li>
        <a href="https://linkedin.com/in/andorstaffed" target="_blank"><strong>Andor Polgár</strong> - Principal Software Engineer</a>
        <span class="description">You can hire me to assess your organization's technology stack, establish CI/CD
            pipelines, provide mentorship to your software developers, or to manage crisis situations in problematic
            projects.</span>
        <span class="url">http://linkedin.com/in/<strong>andor</strong>staffed</span>
    </li>
    <li>
        <a href="https://github.com/andorthehood" target="_blank"><strong>andor</strong>thehood (<strong>Andor Polgár</strong>)</a>
        <span class="description">Principal Engineer @DoclerLabs. <strong>andor</strong>thehood has 80 repositories available. Follow their code on GitHub.</span>
        <span class="url">http://github.com/<strong>andor</strong>thehood</span>
    </li>
    <li>
        <a href="https://goodreads.com/andorliningeverything" target="_blank"><strong>Andor Polgár</strong> - Amsterdam, Netherlands (270 books) | Goodreads</a>
        <span class="description"><strong>Andor Polgár</strong> has 270 books on Goodreads, and is currently reading The Year of Living Biblically: One Man's Humble Quest to Follow the Bible as Literally ...</span>
        <span class="url">http://goodreads.com/<strong>andor</strong>liningeverything</span>
    </li>
    <li>
        <a href="https://instagram.com/andortheinfluence" target="_blank"><strong>Andor Polgár</strong> (@<strong>andor</strong>theinfluence) · Instagram</a>
        <span class="description">2,179 Followers, 755 Following, 155 Posts - <strong>Andor Polg&#xe1;r</strong> (&#064;andortheinfluence) on Instagram: &quot;here&#039;s what I saw&quot;</span>
        <span class="url">http://instagram.com/<strong>andor</strong>theinfluence</span>
    </li>
    <li>
        <a href="https://www.youtube.com/c/Polg%C3%A1rAndor" target="_blank"><strong>Andor Polgar</strong></a>
        <span class="description">Share your videos with friends, family, and the world.</span>
        <span class="url">http://youtube.com/c/Polg%C3%A1r<strong>Andor</strong></span>
    </li>
    <li>
        <a href="https://www.imdb.com/name/nm11601357/" target="_blank"><strong>Andor Polgár</strong></a>
        <span><strong>Andor Polgár</strong> is known for Stamps Back (2022). IMDbProStarmeterSee rank · Add photos, demo reels. Add to list. View contact info at IMDbPro · More at ...</span>
        <span class="url">http://imdb.com/name/nm11601357</span>
    </li>
    <li>
        <a href="https://www.flickr.com/photos/hngrhorace/" target="_blank"><strong>Andor Polgár</strong></a>
        <span class="description">Explore <strong>Andor Polgár</strong>'s 255 photos on Flickr!</span>
        <span class="url">http://flickr.com/photos/hngrhorace</span>
    </li>
    <li>
        <a href="https://filmfreeway.com/AndorPolgar" target="_blank"><strong>Andor Polgár</strong></a>
        <span class="description">Filmography. Director (1 Credit). A Flor de Piel2022. Experimental, Short. Personal Details. Current City. Amsterdam. Contact. Website. Share: Links.</span>
        <span class="url">http://filmfreeway.com/<strong>AndorPolgar</strong></span>
    </li>
    <li>
        <a href="https://www.last.fm/user/hngrhorace" target="_blank"><strong>Andor Polgar</strong>'s Music Profile</a>
        <span class="description">Listen to music from <strong>Andor Polgar</strong>'s library (153,918 tracks played). Get your own music profile at Last.fm the world's largest social music platform.</span>
        <span class="url">http://last.fm/user/<strong>hngrhorace</strong></span>
    </li>
    <li>
        <a href="https://x.com/andordog" target="_blank"><strong>Andor Polgár</strong> (@<strong>andor</strong>dog) / X</a>
        <span class="url">http://x.com/<strong>andor</strong>made</span>
    </li>
</ul>