<div class="header">
     <div class="hole">
         <div class="button" id="button-close"></div>
     </div>
     <div class="stripes">
         <div class="stripe"></div>
         <div class="stripe"></div>
         <div class="stripe"></div>
         <div class="stripe"></div>
         <div class="stripe"></div>
         <div class="stripe"></div>
     </div>
     <div class="title" data-nosnippet>{{title}}</div>
     <div class="stripes">
         <div class="stripe"></div>
         <div class="stripe"></div>
         <div class="stripe"></div>
         <div class="stripe"></div>
         <div class="stripe"></div>
         <div class="stripe"></div>
     </div>
     <div class="hole">
         <div class="button button-resize"></div>
     </div>
     <div class="hole" id="button-collapse">
         <div class="button button-collapse"></div>
     </div>
 </div>