body,
html {
	color: #000000;
	line-height: 1.5;
	font-family: "avenir next", avenir;
	font-size: 16px;
	margin: 0;
	padding: 0;
	background: #ffffff;
}

pre {
	font-family: "Departure Mono", monospace;
	padding: 1em;
	margin: 0 0 1em 0;
	background: #eeeeee;
	overflow-x: scroll;
}

p {
	padding: 0 0 1em 0;
	margin: 0;
}

p:last-child {
	padding: 0;
}

ul {
	list-style-type: square;
	list-style-position: inside;
	padding: 0 0 1em 0;
	margin: 0;
}

h1 {
	display: inline-block;
	padding-left: 1rem;
	font-weight: 400;
	font-size: 32px;
}

h2 {
	font-weight: 300;
	font-size: 24px;
	color: #666666;
}

h3 {
	font-weight: 500;
	font-size: 18px;
}

strong {
	font-weight: 500;
}

h1,
h2,
h3 {
	margin: 0;
	line-height: 1;


	a {
		color: inherit;
		text-decoration: none;
	}
}

h3 {
	font-size: 1em;
}

mark {
	background: #eeeeee;
}

:root {
	font-synthesis: none;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

.container {
	margin: 0 auto;
	width: 50%;
	font-size: 1rem;
	padding: 2rem 0;
	max-width: 900px;
}

.logo {
	width: 92px;
	height: auto;
	image-rendering: pixelated;
}

@media(max-width:1500px) {
	.container {
		width: 65%;
	}
}

@media(max-width:1024px) {
	.container {
		width: 80%;
	}
}

@media(max-width:700px) {
	.container {
		width: 90%;
	}
}