@use "window";

body,
html {
	color: var(--text-color);
	line-height: 1.2;
	font-family: "Departure Mono", monospace;
	margin: 0;
	padding: 0;
	background: #399;
}

a:hover,
a:visited {
	text-decoration: line-through;
}

:root {
	font-synthesis: none;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;

	/* @media (prefers-color-scheme: light) { */
	--background-color: #666699;
	--text-color: #000000;
	--link-color: #0066cc;
}

article img {
	display: block;
	width: 100%;
	position: relative;
	z-index: 10;
	background: var(--text-color);
	aspect-ratio: 3/2;
}

article img.loaded {
	background: initial;
	aspect-ratio: initial;
}

.container {
	margin: 0 auto;
	width: 50%;
	padding: 30px 0;
	font-size: 22px;
}

@media(max-width:1500px) {
	.container {
		width: 65%;
	}
}

@media(max-width:1024px) {
	.container {
		width: 80%;
	}
}

@media(max-width:700px) {
	.container {
		width: 100%;
	}
}
