@use "window";

body,
html {
	color: #000000;
	line-height: 1.2;
	font-family: "Departure Mono", monospace;
	margin: 0;
	padding: 0;
	background: #007973;
}

p {
	padding: 0 0 10px 0;
	margin: 0;
}

:root {
	font-synthesis: none;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

.container {
	margin: 0 auto;
	width: 50%;
	padding: 30px 0;
	font-size: 22px;
	max-width: 900px;
}

@media(max-width:1500px) {
	.container {
		width: 65%;
	}
}

@media(max-width:1024px) {
	.container {
		width: 80%;
	}
}

@media(max-width:700px) {
	.container {
		width: 100%;
	}
}