<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <meta charSet="utf-8" />
    <meta name="description" content="{{description}}" />
    <meta name="author" content="Andor Polgár" />
    <meta name="robots" content="index,follow" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="{{description}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://polgarhivatal.nl/{{pathname}}" />
    <meta property="og:site_name" content="Polgár Hivatal" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{title}}" />
    <meta name="twitter:description" content="{{description}}" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=5, minimum-scale=1, user-scalable=yes" />
    <link rel="preload" href="https://cdn.polgarand.org/fonts/fraunces-regular.woff2" as="font" type="font/woff2"
        crossorigin />
    <style>
        @font-face {
            font-family: "Fraunces";
            src: url("https://cdn.polgarand.org/fonts/fraunces-regular.woff2") format("woff2");
            font-style: normal;
            font-weight: 100 900;
            font-display: swap;
        }
    </style>
    <link rel="preload" href="/assets/{{style.scss}}" as="style" />
    <link rel="stylesheet" href="/assets/{{style.scss}}" />
    <link rel="canonical" href="https://polgarhivatal.nl/{{pathname}}" />
    <link rel="icon" href="/favicon.ico" />
</head>

<body>
    {{body}}
</body>

</html>