#dvd-logo {
	position: fixed;
	color: #9999cc;
	font-weight: bold;
	pointer-events: none;
	user-select: none;
	width: 200px;
	height: 86px;
	display: block;
	opacity: 0.25;
}

@media(max-width:700px) {
	#dvd-logo {
		display: none;
	}
}