.bookshelf {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    font-family: "Departure Mono", sans-serif;
}

.bookshelf li {
    display: flex;
    aspect-ratio: 2 / 3;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}
