.ourspace {
    font-family: "Departure Mono", verdana, arial, sans-serif, helvetica;
    font-size: 11px;
    -webkit-font-smoothing: initial;
    font-synthesis: initial;
    text-rendering: initial;
}

.ourspace img {
    width: 100%;
}

.ourspace p {
    padding: 0 0 5px 0;
}

.content {
    padding: 0;
}

.ourspace .header {
    background-color: #003399;
    color: #ffffff;
    height: 50px;
    padding: 10px;
}

.ourspace .navbar {
    background-color: #6699cc;
    height: 26px;
    text-align: center;
    line-height: 26px;
}

.ourspace .navbar a {
    color: #ffffff;
}

.ourspace .content {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 10px;
}

.ourspace .left {
    width: 40%;
}

.ourspace .right {
    width: 60%;
}

@media (max-width: 800px) {
    .ourspace .content {
        flex-direction: column;
    }

    .ourspace .left,
    .ourspace .right {
        width: 100%;
    }
}

.extended-network {
    font-size: 22px;
    font-weight: bold;
    padding: 20px;
    border: 2px solid #000000;
    text-align: center;
    margin-bottom: 10px;
}

.ourspace h1 {
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
}

.ourspace .left h2 {
    font-size: 22px;
    font-weight: bold;
    color: #000000;
    padding: 0 0 10px 0;
}

.ourspace .right h2 {
    background: #ffcc99;
    color: #ff6600;
    font-size: 11px;
    font-weight: bold;
    padding: 0;
}

.ourspace h3 {
    color: #ff6600;
    font-size: 11px;
    font-weight: bold;
}

/* Tables */

.ourspace .bio-table {
    border: 1px solid #6699cc;
    margin: 0 0 20px 0;
}

.ourspace .bio-table .title {
    background-color: #6699cc;
    color: #ffffff;
    font-size: 11px;
    font-weight: bold;
    padding: 2px 10px;
}

.ourspace .bio-table-body {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3px;
    padding: 3px;
}

.ourspace .bio-table-body .cell {
    background-color: #d5e8fb;
    padding: 3px;
}

.ourspace .bio-table-body .heading {
    background-color: #b1d0f0;
    color: #336699;
    font-weight: bold;
}

.ourspace .contact-table-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3px;
    padding: 3px;
}

.ourspace .contact-table-body .cell {
    padding: 5px 0;
    text-align: center;
    color: #0000ff;
}

/* Comments */

.ourspace .friend-comments {
    list-style: none;
    padding: 0;
}

.ourspace .friend-comment {
    display: flex;
    flex-direction: row;
    gap: 3px;
    padding-bottom: 3px;
    min-height: 80px;
}

.ourspace .friend-comment .friend {
    background-color: #ff9933;
    width: 30%;
}

.ourspace .friend-comment .friend-name {
    font-weight: bold;
    word-wrap: break-word;
    padding: 3px;
    text-align: center;
}

.ourspace .friend-comment .comment {
    background-color: #f9d6b4;
    font-size: 11px;
    color: #000000;
    padding: 0 0 10px 0;
    width: 70%;
    padding: 3px;
}