<div class="introduction">

    <div class="row">
        <div class="dots">
            <h1>8f4e</h1>
            <p>8f4e is a <a target="_blank"
                    href="https://en.wikipedia.org/wiki/Stack-oriented_programming">stack-oriented</a> programming
                language designed for real-time audio synthesis, with a visual code editor
                built for live coding and experimentation.</p>
            <p>I started it as a recreational
                programming project during the COVID-19 lockdown to perform generative
                music at <a target="_blank" href="https://en.wikipedia.org/wiki/Algorave">algorave</a> events.</p>
            <p>Its primary target is the <a target="_blank"
                    href="https://en.wikipedia.org/wiki/WebAssembly">WebAssembly</a> virtual machine, as I wanted an
                efficient yet portable tool for real-time audio signal generation and processing.</p>
        </div>
        <div class="screenshot">
            <a href="https://editor.8f4e.com" target="_blank">Open Editor ↗</a>
        </div>
    </div>
    {% for fact in data.facts %}
    {% assign row_mod = forloop.index0 | modulo: 2 %}
    {% if fact.title %}<div class="title">
        <h2>{{ fact.title }}</h2>
    </div>{% endif %}
    <div class="row {% if row_mod == 0 %}row--reverse{% endif %}">
        <div class="dots">
            {% for line in fact.text %}
            <p>{{ line }}</p>
            {% endfor %}
        </div>
        <div class="code-block">
            <pre aria-label="Code example: {{ fact.title }}">
<span class="comment">...</span>
{% for line in fact.code -%}
<span class="ln">0{{ forloop.index | plus: 20 }}</span> {{ line }}
{% endfor -%}
<span class="comment">...</span></pre>
        </div>
    </div>
    {% endfor %}

</div><!-- .introduction -->

<div class="examples grid-3">
    <a name="examples"></a>
    <div class="title span-3">
        <h2>Example Gallery</h2>
    </div>

    {% for example in data.examples %}
    <a target="_blank" aria-label="{{ example.ariaLabel }}" href="{{ example.href }}">
        <img src="{{ example.image }}" width="1800" height="1800" alt="{{ example.alt }}" />
        <div class="description">{{ example.description }}</div>
    </a>
    {% endfor %}
</div><!-- .examples -->

<div class="videos grid-3">
    <a name="videos"></a>
    <div class="title span-3">
        <h2>Videos</h2>
    </div>

    {% for video in data.videos %}
    <a target="_blank" aria-label="{{ video.ariaLabel }}" href="{{ video.href }}">
        <img src="https://static.llllllllllll.com/8f4e/screenshots/{{ video.image }}" width="800" height="800" alt="{{ video.alt }}" />
        <div class="title">{{ video.title }} ↗</div>
    </a>
    {% endfor %}
</div><!-- .videos -->
