---
layout: page
title: 'Wikipedia'
date: 2026-03-10 19:00:00 -0100
location: 'Zandvoort, Netherlands'
css: 'wikipedia.scss'
---

<p>I'm collecting my favorite Wikipedia <a href="https://en.wikipedia.org/wiki/Wikipedia:Userboxes">userboxes</a> here, some of which I made myself.</p>
<ul class="userboxes">
    {% for userbox in data.userboxes %}

    <li>
        <div class="userbox" style="background: {{userbox.backgroundColor}}; border-color: {{userbox.borderColor}};">
    <div class="userbox-image {% if userbox.isSvg %}svg{% endif %}" {% if userbox.imageBackgroundColor %}style="background: {{userbox.imageBackgroundColor}}"{% endif %}>
        <img src="https://static.llllllllllll.com/andor/assets/wikipedia/{{userbox.image}}" loading="lazy"
            alt="Userbox image">
            </div>
    <div class="userbox-content" {% if userbox.textColor %}style="color: {{userbox.textColor}}"{% endif %}>
                {{userbox.content}}
            </div>
        </div>
    </li>

    {% endfor %}
</ul>

<p>Images used on this page are sourced from Wikimedia Commons and are used in accordance with their respective Creative
    Commons or public domain licenses.</p>